<%- include('partials/header.ejs'); -%>

    <form class="addBook" action="/newBook" method="post">
        <h1>Add a New Book</h1>
        <div class="formRow">
            <p>Book Title</p>
            <input type="text" name="title" placeholder="Book Title" required>
        </div>

        <div class="formRow">
            <p>ISBN</p>
            <input type="text" name="isbn" placeholder="Book ISBN Number" required>
        </div>

        <div class="formRow">
            <p>Author Name</p>
            <input type="text" name="author" placeholder="Book Author" required>
        </div>
        
        <div class="formRow">
            <p>Read At</p>
            <input type="date" name="readat" placeholder="YYYY-MM-DD" required>
        </div>

        <div class="formRow">
            <p>Rating</p>
            <input type="number" name="rating" placeholder="Enter rating out of 10" min="1" max="10" required>
        </div>
        
        <div class="formRow">
            <p>Note</p>
            <textarea name="note" placeholder="Add a note here..."></textarea>
        </div>
        
        <div class="buttonGroup">
            <a href="/" class="button">Cancel</a>
            <button type="submit">Add Book</button>
        </div>
    </form>

<%- include('partials/footer.ejs'); -%>